// Here you can add other styles
.card-header {
  strong {
    font-weight: normal !important;
  }
}
.card {
  overflow: hidden;
}

.card-table {
  .card-body {
    padding: 0;
  }

  thead {
    th {
      border-bottom: 1px solid #c8ced3 !important;
      border-top: 0px solid #c8ced3 !important;
    }
  }
}

.cs-table {
  table {
    background: #fff;
    margin: 0;
  }
}

.cs-pagination {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border-top: 1px solid #c8ced3;
  border-radius: 0 0 0.3rem 0.3rem;

  .pagination {
    margin: 0;

    .page-item {
      &.active {
        .page-link {
          background: #007bff;
        }
      }

      .page-link {
        border-radius: 3px;
        border: none;
        background: none;
        box-shadow: none !important;
      }
    }

  }
}

.cs-merge-card {
  .card {
    border-radius: 0;
    margin-bottom: 0;

  }

  .card:not(:first-child) {
    .card-header {
      background: none;
    }
  }

  .card:first-child {
    border-bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .card:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }
}

.modal-dialog {
  .modal-body {
    padding: 0;
  }

  .modal-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3;
  }
}

@media (min-width: 900px) {

  .modal-dialog {
    max-width: 700px;
  }
}

.cs-content-table {
  margin: 0;
  overflow: hidden;
  padding: 0;
  border-radius: 3px;

  .table th,
  .table td {
    border-top: 1px solid #e4e5e6;
    padding: 7px 5px;
  }

  .table th {
    font-weight: normal;
    text-transform: uppercase;
    color: #0088ce;
    padding: 15px 5px 5px 5px;
    outline: 0;
  }
}

$style-color-border: 2px solid #e4e5e6 !important;

.cs-table-bill {

  &.table-bordered th,
  &.table-bordered td {
    border: 1px dashed #ddd;
  }

  tr {
    th {
      text-align: center;
      vertical-align: middle;
      padding: 5px;
    }

    td {
      padding: 5px;
    }
  }

  .b-t {
    border-top: $style-color-border;
  }

  .b-l {
    border-left: $style-color-border;
  }

  .b-r {
    border-right: $style-color-border;
  }

  .b-b {
    border-bottom: $style-color-border;
  }
}

.sidebar .nav-link.active .nav-icon {
  color: #ffc107;
}

.vdp-datepicker .form-control {
  background-color: #fff !important;
}
.cs-date-picker {
  background: #fff !important;
  border-radius: 5px;
  width: 250px !important;
  border: 1px solid #96c8da !important;
  padding: 10px 15px 15px;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  .day__month_btn.up {
    font-weight: 500;
  }

  &.vdp-datepicker__calendar .cell {
    height: 35px;
    font-size: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.day-header {
      font-weight: normal;
      text-transform: uppercase;
      color: #007be8;
      font-size: 13px;
    }

    &.selected {
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background: #0044cc !important;
      color: #fff;
      border-radius: 5px;

    }
  }

  .cell:not(.blank):not(.disabled).day:hover,
  .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
  .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border-radius: 5px;
    border:0 !important;
    background: #eee;
  }
}
