<template>
  <div class="wrapper">
    <div class="animated fadeIn">
      <b-row>
        <!-- Customer information -->
        <b-col cols="12">
          <b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
            <div slot="header">
              <h4 id="traffic" class="card-title mb-0">
                <i class="icons cui-list mr-2"></i>Data list customer
              </h4>
              <div class="small text-muted">November 2017</div>
            </div>
            <data-table class="card-table" :settings="settings" :table-data="dataSource"></data-table>
          </b-card>
        </b-col>

        <!-- Line chart: Total number of URLs in the last 7 day	 -->
        <b-col cols="12">
          <b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
            <div slot="header">
              <i class="icons cui-list mr-2"></i>
              <strong>Line chart: Total number of URLs in the last 7 day</strong>
            </div>
              <LineChart :data="line.data" />
              <!-- <LineChartMagic :data="[65, 59, 84, 84, 51, 55, 40]" /> -->
          </b-card>
        </b-col>

        <!-- Table: Table: type of sources -->
        <b-col cols="6">
          <b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
            <div slot="header">
              <i class="icons cui-list mr-2"></i>
              <strong>Table: type of sources</strong>
            </div>
            <Doughnut :data="line.data" />
          </b-card>
        </b-col>

        <!-- Doughnut Chart: type of URLs-->
        <b-col cols="6">
          <b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
            <div slot="header">
              <i class="icons cui-list mr-2"></i>
              <strong>Doughnut Chart: type of URLs</strong>
            </div>
             <LineChart :data="line.data" />
          </b-card>
        </b-col>

        <!-- Line chart: Location -->
        <b-col cols="6">
          <b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
            <div slot="header">
              <i class="icons cui-list mr-2"></i>
              <strong>Line chart: Location</strong>
            </div>
             <LineChart :data="line.data" />
          </b-card>
        </b-col>

        <!-- Pie chart: Device -->
        <b-col cols="6">
          <b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
            <div slot="header">
              <i class="icons cui-list mr-2"></i>
              <strong>Pie chart: Device</strong>
            </div>
            <PieChart :data="line.data" />
          </b-card>
        </b-col>

        <!-- Line chart: Days of week/ Hours of day -->
        <b-col cols="6">
          <b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
            <div slot="header">
              <i class="icons cui-list mr-2"></i>
              <strong>Line chart: Days of week/ Hours of day</strong>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import Doughnut from "../../components/charts/Doughnut.vue";
import LineChart from "../../components/charts/LineChart.vue";
import PieChart from "../../components/charts/PieChart.vue";
import Settings from "../../settings/table/apartment/apartment";
import LineChartMagic from '../../components/charts/LineChartMagic'

export default {
  components: {
    LineChartMagic,
    LineChart,
    Doughnut,
    PieChart
  },
  mixins: [Settings],
  data() {
    return {
      line: {
        data: {
          labels: ["Mon", "Tue", "Web", "Thu", "Fri", "Sat", "Sun"],
          datasets: [
            {
              label: "Data One",
              backgroundColor: 'rgba(255, 193, 7, 0.9)',
              data: [10, 11, 12, 13, 14, 19, 10]
            },
             {
              label: "Data Two",
              backgroundColor: 'rgba(0, 193, 7, 0.9)',
              data: [10, 8, 8, 10, 14, 10, 15]
            }
          ]
        }
      },
      dataSource: []
    };
  },
  computed: {
    styles: function() {
      let size = 600;
      return {
        one: {
          width: `${size}px`,
          height: `${size}px`
        }
      }
    }
  },
  mounted: function() {
    for (let index = 0; index < 40; index++) {
      this.dataSource .push({
        no: index + '00' + 1 + 'A-40' +index + 1,
        customer_name: "Võ Đại Phúc",
        contract_start_day: "2019:03:02",
        contract_end_day: "20/03/2029",
        amount: "200.000 $",
        contract_no: '00' + 1+ "100"+ '00' + index*2
      });
    }
  }
};
</script>