<template>
  <div class="wrapper">
	<div class="animated fadeIn">
	  <b-row>

			<b-col cols="12">
				<b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
					<div slot="header">
						<i class="icons cui-list mr-2"></i>
						<strong>Customer information</strong>
					</div>
				</b-card>
			</b-col>

			<!-- Table of Campaing Analytics -->
			<b-col cols="12">
				<b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
					<div slot="header">
						<i class="icons cui-list mr-2"></i>
						<strong>Table of Campaing Analytics</strong>
					</div>
				</b-card>
			</b-col>

			<!-- Table: type of sources -->
			<b-col cols="12">
				<b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
					<div slot="header">
						<i class="icons cui-list mr-2"></i>
						<strong>Table: type of sources</strong>
					</div>
				</b-card>
			</b-col>

			<!-- Table: type of sources -->
			<b-col cols="12">
				<b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
					<div slot="header">
						<i class="icons cui-list mr-2"></i>
						<strong>Table of Business Efficiency</strong>
					</div>
				</b-card>
			</b-col>

			<!-- Customer Behavior-->
			<b-col cols="12">
				<b-card header-tag="header" footer-tag="footer" class="card-accent-primary">
					<div slot="header">
						<i class="icons cui-list mr-2"></i>
						<strong>Customer Behaviour</strong>
					</div>
				</b-card>
			</b-col>
	  </b-row>
	</div>
  </div>
</template>